// 
@font-face {
  font-family: "myfont";
  src: url("@/assets/fonts/myfont.ttf");
}

@font-face {
  font-family: "siyuan";
  src: url("@/assets/fonts/siyuan.otf");
}
@font-face {
  font-family: "moyeti";
  src: url("@/assets/fonts/moyeti.ttf");
}